MONGODB_URI=YOUR_MONGODB_URI
PORT=8000
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
REDIS_URL=YOUR_REDIS_URL
JWT_SECRET_KEY=YOUR_JWT_SECRET_KEY
RAZORPAY_KEY_ID=YOUR_RAZORPAY_KEY_ID
RAZORPAY_KEY_SECRET=YOUR_RAZORPAY_KEY_SECRET
RAZORPAY_WEBHOOK_SECRET=YOUR_RAZORPAY_WEBHOOK_SECRET
STORE_NAME=YOUR_STORE_NAME
STORE_EMAIL=YOUR_STORE_EMAIL
STORE_PHONE=YOUR_STORE_PHONE
STORE_ADDRESS=YOUR_STORE_ADDRESS
STORE_GSTIN=YOUR_STORE_GSTIN
STORE_WEBSITE=YOUR_STORE_WEBSITE
ADMIN_EMAIL=YOUR_ADMIN_EMAIL
ADMIN_PANEL_URL=YOUR_ADMIN_PANEL_URL
JWT_REFRESH_SECRET_KEY=YOUR_JWT_REFRESH_SECRET_KEY
SMTP_HOST=YOUR_SMTP_HOST
SMTP_PORT=YOUR_SMTP_PORT
SMTP_USER=YOUR_SMTP_USER
SMTP_PASS=YOUR_SMTP_PASS
SMTP_FROM_EMAIL=YOUR_SMTP_FROM_EMAIL
SENTRY_AUTH_TOKEN=YOUR_SENTRY_AUTH_TOKEN
SENTRY_ORG_SLUG=YOUR_SENTRY_ORG_SLUG
SENTRY_BACKEND_PROJECT_SLUG=YOUR_SENTRY_BACKEND_PROJECT_SLUG
SENTRY_FRONTEND_PROJECT_SLUG=YOUR_SENTRY_FRONTEND_PROJECT_SLUG
NODE_ENV=production
